<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/addclient}" th:object="${client}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <label for="email">Phone</label>
    <input type="text" th:field="*{phone}" id="phone" placeholder="Phone">
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
    <label for="email">Quiero concursar en el grupo</label>
    <input type="text" th:field="*{groupId}" id="groupId" placeholder="Grupo">
    <span th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}"></span>
    <input type="submit" value="Add Client">
</form>
</body>
</html>